* {
    margin: 0;
    padding: 0;
    list-style: none;
}

@font-face {
    font-family: 'Open Sans';
    src: url("../../ressources/fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

/* ALL */

body {
    background-color: rgb(184, 93, 28);
    font-family: 'Open Sans';
    font-weight: 300;
}

h1 {
    font-size: 1.5em;
    font-weight: 300;
}


/* HEADER */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

header p {
    font-size: 0.8em;
}

/* MAIN */

main {
    padding-block: 5vh;
}


/* CALENDAR */

#calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* CALENDAR HEADER */

.cal-header {
    background-color: rgb(245, 185, 55);
    width: 69.3vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding-block: 2vh;
}

.cal-header h2 {
    font-weight: 300;
    font-size: 1em;
}

.top-cal-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.arrow {
    height: 20px;
}

.arrow:hover {
    cursor: pointer;
}

select {
    border: none;
    border-radius: 3px;
    height: 5vh;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 0.8em;
}

button {
    background-color: white;
    font-weight: 300;
    border: none;
    border-radius: 3px;
    width: 10vw;
    height: 5vh;
    font-size: 0.8em;
    font-family: 'Open Sans';
}

button:hover {
    cursor: pointer;
}


/* CALENDAR BOTTOM */

.grid {
    max-width: 70%;
    width: 70%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(7, 9.9vw);
    justify-content: center;
}

.day-name {
    width: 9.9vw;
    height: 4vh;
    background-color: rgb(240, 170, 19);
    color: white;
    font-size: 0.7em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.day-case {
    width: 9.9vw;
    height: 14vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    cursor: pointer;
    font-size: 0.8em;
}


/* FOOTER */
footer p {
    color: white;
    font-size: 0.8em;
    text-align: center;
    margin-top: 1vh;
}